---
title: Home
heading: 'Radhika Reddy Dental Clinic!!'
lead: Welcome to my blog!
---
<!--div class="jumbotron">
  <p>This Website is currently under development using <a href="http://getbootstrap.com">Bootstrap</a>. Please watch this space for more updates.</p>
  <p><a href="blog.html" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
</div-->
<!-- Coming Soon -->
<div class="coming-soon">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>{{ heading }}</h2>
                    <h2>We're Coming Soon</h2>
                    <p>Stay tuned!</p>
                    <div class="timer">
                        <div class="days-wrapper">
                            <span class="days"></span> <br>days
                        </div>
                        <div class="hours-wrapper">
                            <span class="hours"></span> <br>hours
                        </div>
                        <div class="minutes-wrapper">
                            <span class="minutes"></span> <br>minutes
                        </div>
                        <div class="seconds-wrapper">
                            <span class="seconds"></span> <br>seconds
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="container">
    <div class="row">
        <div class="span12 subscribe">
            <h3>Subscribe to our newsletter</h3>
            <p>Sign up now to our newsletter by sending a mail to <a href="mailto:admin@radhikareddy.com?Subject=Newsletter" target="_top">admin@radhikareddy.com</a> and you'll be one of the first to know when the site is ready:</p>
          </div>
    </div>
    <div class="row">
        <div class="span12 social">
            <a href="" class="facebook" rel="tooltip" data-placement="top" data-original-title="Facebook"></a>
            <a href="" class="twitter" rel="tooltip" data-placement="top" data-original-title="Twitter"></a>
        </div>
    </div>
</div>